* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  min-block-size: 100vh;
  min-block-size: 100dvh;
  display: grid;
  grid-template-columns: 5rem 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    'header header'
    'sidebar main'
    'sidebar footer';
  transition: grid-template-columns 0.3s ease-in;
}

body.sidebar-expand {
  grid-template-columns: 12.5rem 1fr;
}

header.dashboard-header {
  grid-area: header;
  background-color: wheat;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to top, rgb(184, 190, 187), rgb(32, 57, 55));
  padding-block: 2rem;
}

aside.dashboard-sidebar {
  grid-area: sidebar;
  background-color: #80a0a0;
  position: relative;
}

aside.dashboard-sidebar button#resize {
  position: absolute;
  transform: translateX(50%);
  right: 0;
  top: 1rem;
  background-color: #607966;
  height: 40px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 5px solid black;
  padding: 3px;
  text-transform: uppercase;
  color: wheat;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: background-color 200ms ease-in, border-color 200ms ease-in;
}

aside.dashboard-sidebar button#resize:hover {
  background-color: #2c6939;
  border-color: wheat;
}

main.dashboard-main {
  grid-area: main;
  background-image: linear-gradient(45deg, #efefee, #a0a0a0);
  display: grid;

  gap: 1rem;
  padding: 1.25rem;
}

main.dashboard-main .card {
  min-height: 7rem;
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem;
}

.card-1 {
  background-image: linear-gradient(62deg, #fbab7e 0%, #f7ce68 100%);
}

footer.dashboard-footer {
  grid-area: footer;
  background-image: linear-gradient(to bottom, #e0e5e3, darkgray);
  padding-block: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer.dashboard-footer > p {
  display: flex;
  gap: 10px;
}

@media (width>=760px) {
  main.dashboard-main {
    grid-template-columns: repeat(4, 1fr);
  }

  .card {
    grid-column: span 2;
  }

  .card-1 {
    grid-column: span 4;
  }
}

@media (width>=992px) {
  .card-2,
  .card-3 {
    grid-area: auto;
  }

  .card-4 {
    grid-area: 3/1/4/2;
  }
  .card-5 {
    grid-area: 3/2/4/3;
  }

  .card-6,
  .card-7 {
    grid-area: span 2 / auto;
  }

  .card-8,
  .card-9 {
    grid-column: span 2;
  }
  .card-10,
  .card-11,
  .card-12,
  .card-13 {
    grid-column: auto;
  }
}
